
Scripts/DetectionHSL/Partie1/Applications.txt
Scripts/DetectionHSL/Partie1/Appbackground.txt
Scripts/DetectionHSL/Partie3/sfc.txt
Scripts/DetectionHSL/Partie2/Partitons.txt
Scripts/DetectionHSL/Partie1/Applicationstore.txt
Scripts/DetectionHSL/Partie1/EventLog.txt
Scripts/DetectionHSL/Partie1/Process.txt
Scripts/DetectionHSL/Partie1/Windowsupdate.log
Scripts/DetectionHSL/Partie2/Infopc.txt
Scripts/DetectionHSL/Partie3/Scanhealth.txt
